<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>verificarUsuario</servlet-name>
        <servlet-class>verificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarNombre</servlet-name>
        <servlet-class>modificarNombre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verEmpleados</servlet-name>
        <servlet-class>verEmpleados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarSesion</servlet-name>
        <servlet-class>cerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarUsuario</servlet-name>
        <servlet-class>registrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servicios</servlet-name>
        <servlet-class>servicios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verCitas</servlet-name>
        <servlet-class>verCitas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarMetodoPago</servlet-name>
        <servlet-class>registrarMetodoPago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agendarCita</servlet-name>
        <servlet-class>agendarCita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarDireccion</servlet-name>
        <servlet-class>registrarDireccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validarCita</servlet-name>
        <servlet-class>validarCita</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>verificarUsuario</servlet-name>
        <url-pattern>/verificarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarNombre</servlet-name>
        <url-pattern>/modificarNombre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verEmpleados</servlet-name>
        <url-pattern>/verEmpleados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarSesion</servlet-name>
        <url-pattern>/cerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarUsuario</servlet-name>
        <url-pattern>/registrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servicios</servlet-name>
        <url-pattern>/servicios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verCitas</servlet-name>
        <url-pattern>/verCitas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarMetodoPago</servlet-name>
        <url-pattern>/registrarMetodoPago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agendarCita</servlet-name>
        <url-pattern>/agendarCita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarDireccion</servlet-name>
        <url-pattern>/registrarDireccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validarCita</servlet-name>
        <url-pattern>/validarCita</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
